apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: anomalies-maintenance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: config-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8888
          env:
            - name: JAVA_OPTS
              value: "-Xms128m -Xmx256m"
---
apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: anomalies-maintenance
spec:
  selector:
    app: config-server
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 8888
  type: ClusterIP
