apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  namespace: anomalies-maintenance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - name: eureka-server
          image: eureka-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8761
          env:
            - name: JAVA_OPTS
              value: "-Xms128m -Xmx256m"
---
apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: anomalies-maintenance
spec:
  selector:
    app: eureka-server
  ports:
    - protocol: TCP
      port: 8761
      targetPort: 8761
  type: ClusterIP
